{% load static %}
<div class="col-lg-3">
    <div class="product-item">
        {% if product_image.product.discount %}
        <div class="discount-container">
            <span>{{ product_image.product.discount }}%</span>
        </div>
        {% endif %}
        <h4>{{ product_image.product.name }}</h4>
        <p>
            {{ product_image.product.description|truncatechars_html:40 }}
        </p>
        <div>
            {{ product_image.product.price }} RUB
        </div>
        <div>
            <img src="{% static '/media/'%}{{ product_image.image }}" class="img-responsive">
        </div>
        <div class="add-to-card-btn">
            <a class="" href="/product/{{product_image.product.id}}">
                <button class="btn btn-success">
                    Добавить в корзину
                </button>
            </a>
        </div>
    </div>
</div>