<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Магазин</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/admin">Админка</a></li>
                <li><a href="/landing">Пользователи</a></li>
                <li><a href="/checkout">Корзина</a></li>
                <li class="Выпадающий список">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Выпадающий список <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#func">Действие</a></li>
                        <li><a href="#func2">Другое действие</a></li>
                        <li><a href="#func3">Еще че-нибудь</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Другой блок</li>
                        <li><a href="#again">Опять че-то нажать можно</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"> Статичный хедер <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>